@keyframes animateBorderRadius {
    0% {
      border-radius: 50% 50% 70% 30% / 41% 35% 65% 59%;
    }
  
    33% {
      border-radius: 40% 60% 50% 50% / 50% 50% 40% 60%;
    }
  
    66% {
      border-radius: 60% 40% 60% 40% / 60% 40% 60% 40%;
    }
  
    100% {
      border-radius: 50% 50% 70% 30% / 41% 35% 65% 59%;
    }
  }

.aboutMeSection {
    width: 100%;
    background-color: var(--color-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 200px 40px 100px 40px;
    box-sizing: border-box;
    text-align: left;
    font-family: var(--font-bricolage-grotesque);
}

.aboutMecontainer{
    max-width: 1280px;
    align-self: center;
    gap: 25px;
    display: flex;
    flex-direction: column;
}

/* .aboutMecontainer p {
    margin: 0;
} */

.title {
    font-size: 75px;
    color: var(--color-white);
    letter-spacing: -0.02em;
    line-height: 80%;
    text-align: start;
    width: 100%;
    margin: 0px;
}
.title span {
    color: #f26165; /* Red color */
  }

.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.text {
    flex: 1.3;
    font-size: 25px;
    line-height: 1.5;
    /* Adjusted for better readability */
    color: var(--color-white);
    text-align: justify;
    align-self: center;
}


.model {
    /* flex: 0 0 40%; Take up 40% of the space */
    height: 100%;
        flex: 1;
        justify-items: end;
  }

.highlightedWord {
    transition: all 0.3s ease;
    font-size: 1em;
    /* Default size */
    color: var(--color-white);
    /* Default color */
    display: inline-block;
    /* Prevents affecting layout */
    padding: 0 4px;
    /* Adds space around the highlighted word */
    color: var(--color-white);
    /* Default color */
}

.active {
    font-size: 1.2em;
    /* Larger size */
    color: #f26165;
    /* Salmon color */
}

.servizioimage {
    flex: 1;
    border-radius: var(--br-xl);
    justify-content: space-between;
    border-radius: 50% 50% 70% 30% / 41% 35% 65% 59%;
    position: relative;
    display: flex;   
    background: linear-gradient(90deg, #f26165, #2b2b2b);
    border: 2px solid var(--color-whitesmoke);

    background-size: 200% 200%; /* Larger size for smoother motion */
    max-width: 380px;
    max-height: 380px;
    min-width: 250px;
    min-height: 250px;
    overflow: hidden;
    perspective: 1000px;
    /* Increased for stronger 3D effect */
    animation: gradientMove 6s ease infinite, float 6s ease-in-out infinite, animateBorderRadius 16s ease-in-out infinite;
}

/* Animation for moving gradient */
@keyframes gradientMove {
    0% {
        background-size: 100% 100%; /* Start size */
    }
    50% {
        background-size: 150% 150%; /* Zoom in */
    }
    100% {
        background-size: 100% 100%; /* Zoom out */
    }
}


  .imageIcon {
    width: 140%;
    margin: 0 !important;
    /* top: calc(50% - 171.55px);
    left: calc(50% - 174.5px); */
    object-fit: cover;
    z-index: 1;
    position: relative;
    bottom: -135px;
    left: -70px;
    overflow: visible;
  }


@media screen and (max-width: 1440px){
    .text {
        font-size: clamp(20px,calc(20px + (25 - 20) * ((100vw - 1025px) / (1440 - 1025))),25px);
    }
}
@media screen and (max-width: 1024px) {
    .text {
        font-size: clamp(20px,calc(20px + (25 - 20) * ((100vw - 767px) / (1025 - 767))),25px);
        text-align: center;
    }
    .content {
        flex-direction: column-reverse;
        gap: 25px;
    }

    .servizioimage{
        max-width: 300px;
        max-height: 300px;
    }
    .title{
        text-align: center;
    }
    .aboutMecontainer{
        gap: 50px;
    }
    .imageIcon{
        left: -60px;
    }
}


@media screen and (max-width: 768px) {
    .aboutMeSection{
        padding: 100px 40px 50px 40px;
    }

    .title {
        text-align: center;
    }

    .text {
        max-width: 100%;
    }

    .model {
        max-width: 100%;
        width: 100%;
        height: 30vh;
        justify-content: center;
        justify-items: center;
    }
    .aboutMecontainer{
        gap: 50px;
    }
}

@media screen and (max-width: 450px) {
    .content {
        gap: 25px;
    }

    .title {
        font-size: 40px;
        text-align: center;
    }

    .text {
        font-size: 16px;
        max-width: 100%;
    }

    .model {
        max-width: 100%;
        width: 100%;
        height: 20vw;
        display: flex;
        justify-content: center;
    }

    .imageIcon{
        bottom: -50px;
        left: 0;
    }
    .servizioimage{
        max-width: 180px;
        max-height: 180px;
        min-width: 160px;
        min-height: 160px;
    }
}