@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.drawer {
  position: fixed;
  /* Cover the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  /* Full width */
  height: 100svh;
  /* Full height */
  background-color: var(--color-gray);
  /* Background color */
  z-index: 9999;
  /* Ensure it's on top */
  overflow: hidden;
  /* Hide any overflow */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  animation: 0.25s ease 0s 1 normal forwards slide-in-top;
  /* Animation */
  padding-bottom: 25px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 75px;
  font-size: 30px;
  text-align: center;
}

.pvitto,
.projects {
  letter-spacing: -0.02em;
  line-height: 80%;
  color: var(--color-white);
  text-decoration: none;
  color: inherit;
  /* Keeps the text color the same */
}

.logo img {
  transition: filter 0.3s ease;
}

.logo img.clicked {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8)); /* Shadow follows the SVG shape */
}
.logoStyle{
  height: 80px;
}

.closeButton {
  background: none;
  /* Remove default background */
  border: none;
  /* Remove default border */
  padding: 0;
  /* Remove default padding */
  cursor: pointer;
  /* Change cursor to pointer */
}

.closeButton img {
  width: 24px;
  /* Adjust the size of the image */
  height: 24px;
  /* Adjust the size of the image */
  color: white;
}