.screen1Icon, .screen1Icon_small {
  position: relative;
}
.screen1Icon,
.screen3Icon,
.screen1Icon_small {
  align-self: stretch;
  /* max-width: 100%; */
  overflow: hidden;
  height: auto;
  flex-shrink: 0;
  object-fit: cover;
  object-position: center;
  align-self: center;
  filter: drop-shadow(2px 2px 8px rgba(255, 255, 255, 0.7)); /* White shadow effect */

}

.screen1Icon{
  width: 45%;
}

.screen1Icon_small{
  width: 20%;
  
}
.autoLayoutHorizontal {
  width: 80px;
  height: 69.3px;
  object-fit: contain;
}
.prev {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 80%;
  font-weight: 800;
}
.previousbutton {
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-xl);
  align-items: center;
}
.navigation,
.previousbutton,
.projectphotos {
  display: flex;
  align-self: center;
}
.photoContainer{
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}
.navigation {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.projectphotos {
  width: 100%;
  justify-content: center;
  background-color: var(--color-gray);
  max-width: 100%;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-81xl);
  box-sizing: border-box;
  gap: var(--gap-81xl);
  text-align: left;
  font-size: var(--font-size-77xl);
  color: var(--color-whitesmoke);
  font-family: var(--font-bricolage-grotesque);

}
.nextbutton,.previousbutton{
  text-decoration: none;
  color: inherit;
}

.screen1Icon, .screen1Icon_small {
  /* transition: transform 0.3s ease, filter 0.3s ease; Smooth transition for transform */
  transform-origin: center center;
  border-radius: 10px; /* Optional: rounded corners */
}

/* .screen1Icon:hover{
  transform: scale(1.5);
  z-index: 100;
  position: fixed;
  top:25%;
  
} */

.textContent {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 80%;
  font-size: 50px;
  line-height: 110%;
  text-align: justify;
  font-weight: bold;
  width: 100%;
}

@media screen and (max-width:769px) {
  .textContent {
    font-size: 40px;
  }
  .screen1Icon_small{
    width: 40%;
  }
}

@media screen and (max-width: 450px) {
  .prev,.next {
    font-size: var(--font-size-11xl);
  }
  .projectphotos {
    padding-top: 50px;
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
    gap: 50px;
  }

  .screen1Icon,
.screen3Icon {
  height: auto;
  width: 100%;
}
.autoLayoutHorizontal{
  width: 30px;
  height: 23px;
}
.previousbutton{
  gap: 10px;
}

.photoContainer{
  row-gap: 25px;
}
}
