.projecthero {
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
  overflow: hidden;
}

.videoContainer {
  position: absolute; /* Absolute positioning within the container */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0; /* Ensure it is behind other content */
  overflow: hidden;
}

.videoIcon {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the entire container */
}

.videoContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
  pointer-events: none; /* Ensure the gradient doesn't block interactions */
  z-index: 1; /* Place the gradient above the video */
}
@media screen and (max-width: 450px) {
  .projecthero {
    height: 50vh;
    padding-left: 20px;
    padding-top: var(--padding-81xl);
    padding-right: 20px;
    padding-bottom: 50px;

    box-sizing: border-box;
  }
}
