@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.pvitto {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 80%;
}
.logo {
  box-shadow: 3.2px 3.2px 31.74px rgba(238, 238, 238, 0.5);
  border-radius: 79.35px;
  border: 4.8px solid var(--color-whitesmoke);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 31.7px 39.7px;
}
.projects {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 80%;
  color: var(--color-white);
}
.drawer,
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-81xl);
}
.links {
  align-self: stretch;
  justify-content: center;
  font-size: var(--font-size-31xl);
}
.drawer {
  height: 1024px;
  position: relative;
  background-color: var(--color-gray);
  overflow: hidden;
  justify-content: flex-start;
  padding: var(--padding-81xl) 200px;
  box-sizing: border-box;
  opacity: 0;
  width: 100%;
  max-height: 90%;
  text-align: left;
  font-size: 39.7px;
  color: var(--color-whitesmoke);
  font-family: var(--font-bricolage-grotesque);
}
.drawer.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-top;
}