@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.drawer {
  position: fixed; /* Cover the entire viewport */
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  height: 100svh; /* Full height */
  background-color: var(--color-gray); /* Background color */
  z-index: 9999; /* Ensure it's on top */
  overflow: hidden; /* Hide any overflow */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  animation: 0.25s ease 0s 1 normal forwards slide-in-top; /* Animation */
  padding-bottom:  25px;
}
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 75px;
  font-size: var(--font-size-31xl);
  text-align: center;
}

.pvitto, .projects {
  letter-spacing: -0.02em;
  line-height: 80%;
  color: var(--color-white);
}

.logo {
  box-shadow: 2px 2px 20px rgba(238, 238, 238, 0.5);
  border-radius: var(--br-31xl);
  border: 3px solid var(--color-whitesmoke);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl) var(--padding-6xl);
  background-color: var(--color-gray);
}
