/* LoadingPage.module.css */

.loadingPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    position: fixed; /* Changed from absolute to fixed */
    top: 0; /* Ensure it covers the entire viewport */
    left: 0;
    background-color: var(--color-gray);
    font-family: var(--font-bricolage-grotesque);
    color: white;
    z-index: 9999;
    overflow: hidden; /* Prevent scrolling */
}
  
  .logo {
    box-shadow: 2px 2px 20px rgba(238, 238, 238, 0.5);
    border-radius: var(--br-31xl);
    border: 3px solid var(--color-whitesmoke);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-xl) var(--padding-6xl);
    background-color: var(--color-gray);
    scale: 2;
    position: relative; /* Required for the animation */
    animation: glowAnimation 0.8s infinite; /* Apply the glowing animation */
  }
  
  /* Define the keyframes for the glow animation */
  @keyframes glowAnimation {
    0% {
      box-shadow: 0 0 10px rgba(238, 238, 238, 0.5);
    }
    50% {
      box-shadow: 0 0 25px rgba(238, 238, 238, 0.8);
    }
    100% {
      box-shadow: 0 0 10px rgba(238, 238, 238, 0.5);
    }
  }
  
  /* .progress {
    width: 30%;
    height: 20px;
    background-color: #eee;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .progressBar {
    height: 20px;
    background-color: var(--color-salmon);
    transition: width 0.5s ease;
  } */
  