.mySkills {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 80%;
}
.myskillscontent,
.skillset {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.skillset {
  flex-direction: row;
  justify-content: end;
  flex-wrap: wrap;
  align-content: flex-end;
  gap: 15px;
  width: 50%;
}
.myskillscontent {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-31xl);
}
.maybeIShould {
  align-self: stretch;
  position: relative;
  font-size: 20px;
  letter-spacing: -0.02em;
  line-height: 100%;
  font-weight: 200;
  color: var(--color-whitesmoke);
  text-align: end;
  margin-top: 25px;
  
}
.myskills {
  width: 100%;
  background-color: var(--color-gray);
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-81xl);
  box-sizing: border-box;
  gap: 100px;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
  font-family: var(--font-bricolage-grotesque);
}

.content{
  display: flex;
  flex-direction: column;
  gap:30px;
}

.categoryTitle{
  font-size: 25px;
  width: 50%;
  text-align: start;
  font-weight: 200;
}
.category{
  display: flex;
  flex-direction: row;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .myskillscontent {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .myskills {
    gap: var(--gap-31xl);
    padding: var(--padding-31xl) var(--padding-21xl) var(--padding-81xl);
    box-sizing: border-box;
    text-align: center;
  }
  .content{
    display: flex;
    flex-direction: column;
    gap:30px;
    width: 90%;
  }
  
  .categoryTitle{
    width: 100%;
    text-align: center;
    font-weight: 200;
    margin-bottom: 20px;
  }
  .category{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .skillset{
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (max-width: 450px) {
  .skillset {
    gap: 8px;
  }
  .myskillscontent {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .maybeIShould {
    font-size: 16px;
  }
  .myskills {
    gap: var(--gap-31xl);
    padding: var(--padding-31xl) var(--padding-21xl) var(--padding-81xl);
    box-sizing: border-box;
    font-size: 40px;
    text-align: center;
  }
  .content{
    display: flex;
    flex-direction: column;
    gap:30px;
  }
  
  .categoryTitle{
    font-size: 20px;
    width: 100%;
    text-align: center;
    font-weight: 200;
    margin-bottom: 20px;
  }
  .category{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .skillset{
    width: 100%;
    flex-direction: row;
    justify-content: center;
    
  }
}
