.logo {
  box-shadow: 2px 2px 20px rgba(238, 238, 238, 0.5);
  border-radius: var(--br-31xl);
  border: 3px solid var(--color-whitesmoke);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl) var(--padding-6xl);
  background-color: var(--color-gray);
}
.aboutMe,
.projects {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 80%;
}
.logo{
  color: inherit;  /* Keep the text color the same */
  text-decoration: none;  /* Remove the underline */
}
.logo {
  transition: transform 0.3s ease, border-color 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

.clicked {
  transform: rotateY(10deg) translateZ(20px) scale(1.05);
  border-color: #F26165;
  color: #F26165;
  background-color: #EEEEEE;
}

.projects {
  color: var(--color-white);
}
.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-31xl);
}
.vectorIcon {
  position: absolute;
  height: 50%;
  width: 75%;
  top: 25%;
  right: 12.4%;
  bottom: 25%;
  left: 12.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icsharpMenu {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 50px;
  width: 50px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.navigation,
.navigationbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navigation {
  justify-content: center;
  gap: var(--gap-31xl);
  font-size: var(--font-size-xl);
}
.navigationbar {
  position: fixed;
  top:0;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  justify-content: space-between;
  padding: var(--padding-31xl) var(--padding-56xl) var(--padding-xl) var(--padding-56xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-whitesmoke);
  font-family: var(--font-bricolage-grotesque);
  z-index: 5;
}
.aboutMe,.projects{
    text-decoration: none;
    color: inherit; /* Keeps the text color the same */
}
@media screen and (max-width: 960px) {
  .links {
    display: none;
  }
  .icsharpMenu {
    display: flex;
  }
  .navigationbar{
    padding: 25px 25px 20px 25px;
    font-size: 17px;
  }
  .logo {
    padding: 15px 20px;
  }
}