.previewIcon {
  align-self: stretch;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 0;
}
.bat {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 800;
}
.titleholder {
  width: 500px;
  border-radius: 0 0 var(--br-11xl) var(--br-11xl);
  border-top: 5px solid var(--color-whitesmoke);
  box-sizing: border-box;
  height: 85px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  z-index: 1;
}
.landingPage {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 110%;
}
.project,
.type {
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.type {
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 250px);
  left: calc(50% - 107px);
  border-radius: 0 0 var(--br-11xl) var(--br-11xl);
  background-color: var(--color-gray);
  border-right: 5px solid var(--color-whitesmoke);
  border-bottom: 5px solid var(--color-whitesmoke);
  border-left: 5px solid var(--color-whitesmoke);
  height: 55px;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-11xl);
  z-index: 2;
  font-size: var(--font-size-5xl);
  color: var(--color-salmon);
}
.project {
  width: 500px;
  box-shadow: 2px 2px 20px rgba(238, 238, 238, 0.5);
  border-radius: var(--br-11xl);
  border: 5px solid var(--color-whitesmoke);
  height: 500px;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--padding-8xs) 0 0;
  position: relative;
  text-align: center;
  font-size: var(--font-size-26xl);
  color: var(--color-whitesmoke);
  font-family: var(--font-bricolage-grotesque);
}
@media screen and (max-width: 420px) {
  .bat {
    font-size: var(--font-size-11xl);
  }
  .titleholder {
    height: 60px;
  }
  .landingPage {
    font-size: var(--font-size-sm);
  }
  .project {
    align-self: stretch;
    width: auto;
    height: 400px;
  }
}
