.skillname {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 100%;
  font-weight: 600;
}
.skill {
  filter: drop-shadow(2px 2px 20px rgba(238, 238, 238, 0.5));
  border-radius: var(--br-31xl);
  border: 3px solid var(--color-whitesmoke);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  text-align: left;
  font-size: 20px;
  color: var(--color-whitesmoke);
  font-family: var(--font-bricolage-grotesque);
}
.skill:hover {
  transform: rotateY(10deg) translateZ(20px);
  border-color: #F26165;  /* Change border color on hover */
  color: #F26165;  /* Change text color on hover */
  background-color: #EEEEEE; /* Change background color on hover */
  transform: scale(1.2);
}
@media screen and (max-width: 450px) {
  .skillname {
    font-size: 18px;
  }
  .skill {
    padding: 10px 20px;
    box-sizing: border-box;
  }
}
