@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@200;400;500;600;700;800&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-bricolage-grotesque: "Bricolage Grotesque";

  /* font sizes */
  --font-size-77xl: 96px;
  --font-size-11xl: 30px;
  --font-size-3xl: 22px;
  --font-size-16xl: 35px;
  --font-size-xl: 20px;
  --font-size-13xl: 32px;
  --font-size-51xl: 70px;
  --font-size-6xl: 25px;
  --font-size-31xl: 50px;
  --font-size-21xl: 40px;
  --font-size-181xl: 200px;

  /* Colors */
  --color-gray: #2b2b2b;
  --color-whitesmoke: #eee;
  --color-salmon: #f26165;
  --color-black: #000;
  --color-white: #fff;

  /* Gaps */
  --gap-81xl: 100px;
  --gap-xl: 20px;
  --gap-56xl: 75px;
  --gap-6xl: 25px;
  --gap-mini: 15px;
  --gap-31xl: 50px;
  --gap-3xs: 10px;

  /* Paddings */
  --padding-81xl: 100px;
  --padding-21xl: 40px;
  --padding-31xl: 50px;
  --padding-xl: 20px;
  --padding-6xl: 25px;
  --padding-56xl: 75px;
  --padding-mini: 15px;

  /* Border radiuses */
  --br-31xl: 50px;
}